<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sit.labresourcemanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_sit_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_sit_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity
            android:name=".Presenter.Activity.MainActivity"
			android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher" />
        <activity
            android:name=".Presenter.Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Presenter.Activity.QrCodeScannerActivity" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sit.labresourcemanagement.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths">
            </meta-data>
        </provider>
    </application>

</manifest>
